<style>
  .avatar {
    background-image: url("images/logo.png");
    background-size: cover;
    height: 78px;
    width: 64px;
  }
</style>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="avatar center-block"></div>
    <br/>
    <div class="row">
      <div class="text-center"><h2>{{event.title}}</h2></div>
    </div>
    <br/>
    <div class="row">
      <div class="text-center">{{event.details}}</div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="text-center">L'evento è stato creato da <label>{{event.creator.firstName}} {{event.creator.lastName}}</label> e si terrà in aula <label>{{event.classroom.name}}</label> il giorno <label>{{Utility.stringToDate(event.startingDate) | date: "dd/MM/yyyy"}}</label> dalle <label>{{Utility.stringToDate(event.startingDate) | date: "HH:mm"}}</label> alle <label>{{Utility.stringToDate(event.endingDate) | date: "HH:mm"}}</label>.</div>
    </div>
    <br/><br/>
    <div class="row" ng-show="event.partecipants.length < 1">
      <div class="text-center">Attualmente partecipa <label>0 utenti</label> su <label>{{event.maxPartecipants}}.</label></div>
    </div>
    <div class="row" ng-show="event.partecipants.length === 1">
      <div class="text-center">Attualmente partecipa <label>{{event.partecipants.length}} utente</label> su <label>{{event.maxPartecipants}}.</label></div>
    </div>
    <div class="row" ng-show="event.partecipants.length > 1">
      <div class="text-center">Attualmente partecipano <label>{{event.partecipants.length}} utenti</label> su <label>{{event.maxPartecipants}}</label>.</div>
    </div>
    <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
      <button class="btn btn-primary btn-block" ng-click="openPartecipants('lg', 'views/calendar/partecipants.html')">Partecipanti</button>
    </div>
    <div class="row" ng-show="User.isAuthenticated()">
      <div ng-show="isOwner()">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
          <br/><br/>
          <button class="btn btn-block btn-danger" ng-click="deleteEvent()">Elimina</button>
        </div>
      </div>
      <div ng-hide="isOwner()">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" ng-show="isSubscribed()">
          <br/><br/>
          <button class="btn btn-block btn-danger" ng-click="unsubscribe()">Disiscriviti</button>
        </div>
        <div ng-hide="isSubscribed()">
          <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" ng-show="event.partecipants.length == event.maxPartecipants">
            <br/><br/>
            <div class="alert alert-danger">
              <div class="text-center"><strong>Impossibile iscriversi!</strong></div>
              <div class="text-center">Il numero massimo di partecipanti è già stato raggiunto</div>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" ng-hide="event.partecipants.length == event.maxPartecipants">
            <br/><br/>
            <button class="btn btn-block btn-success" ng-click="subscribe()" ng-disabled="event.partecipants.length == event.maxPartecipants">Iscriviti</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-hide="User.isAuthenticated()">
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" ng-show="event.partecipants.length == event.maxPartecipants">
        <br/><br/>
        <div class="alert alert-danger">
          <div class="text-center"><strong>Impossibile iscriversi!</strong></div>
          <div class="text-center">Il numero massimo di partecipanti è già stato raggiunto</div>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1" ng-hide="event.partecipants.length == event.maxPartecipants">
        <br/><br/>
        <div class="alert-group">
          <div class="alert alert-danger">
            <div class="row">
              <div class="text-center"><strong>Devi essere autenticato per iscriverti alla Sessione</strong></div>
              <br/>
              <div class="col-sm-5 col-sm-offset-1">
                <button class="btn btn-block btn-success" ng-click="openUser('md', 'views/user/login.html')">Accedi</button>
              </div>
              <div class="col-sm-5">
                <button class="btn btn-block btn-primary" ng-click="openUser('md', 'views/user/create.html')">Iscriviti</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>
