<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-10 col-xs-offset-1">
            <form name="itemForm" novalidate>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="InputName">Nome</label>
                        <div class="input-group" ng-class="itemForm.name.$error.required ? 'has-error' : 'has-success'">
                            <input type="text" class="form-control" name="name" id="InputName" placeholder="Inserisci il Nome" required ng-model="newItem.name">
                            <span class="input-group-addon"><span class="fa fa-at"></span></span>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="InputDescription">Descrizione</label>
                        <div ng-class="!newItem.description || createClassroom.description.length === 0 ? '' : 'has-success'">
                            <textarea rows="3" class="form-control" name="description" id="InputDescription" placeholder="Inserisci la Descrizione" ng-model="newItem.description"></textarea>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <button class="btn btn-block" ng-class="itemForm.$error.required ? 'btn-danger' : 'btn-success'" ng-click="createItem(newItem)" ng-disabled="itemForm.$error.required">Conferma</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-show="showMessage">
                    <br/>
                    <div class="alert alert-success">
                        <div class="text-center"><strong>{{message}}</strong></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>